@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Hind+Siliguri:wght@300;400;500;600;700&family=Khula:wght@300;400;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruge+Boogie&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root {
    --bg-color: #081b29;
    --sec-bg-color: #112e42;
    --text-color: #fff;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background-color: transparent;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background-color: var(--bg-color);
}

.header span {
    color: #00abf0;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    text-decoration: none;
    color: #ededed;
    font-weight: 600;
}

.navbar {
    position: relative;
}

/* .logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
} */

.navbar a {
    color: #ededed;
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 3.5rem;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    background: url(images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.home-content {
    max-width: 60rem;
    z-index: 10;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

/* .home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
} */

.home-content .text-animate {
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;

}

.home.show-animate .home-content .text-animate h3 {
    animation: homeBgimg 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;

}

.home.show-animate .home-content .text-animate h3::before {
    animation: homeCursorimg 6s linear infinite;
    animation-delay: 2s;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

/* .home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
} */

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

/* .home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    z-index: 2;
} */

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #081b29;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background-color: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: .5s ease;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

/* .home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    z-index: 2;
} */

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-bottom: 2rem;
    height: 40px;
    border: .2rem solid #00abf0;
    border-radius: 50%;
    background-color: transparent;
    text-decoration: none;
    font-size: 21px;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    background-color: #00abf0;
    color: #081b29;
}

/* .home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
} */

.home-sci a:hover::before {
    width: 100%;
}

.home-imghover {
    position: absolute;
    width: 500px;
    height: 100%;
    top: 0%;
    right: 30px;
    background-color: transparent;
    transition: 3s;
    pointer-events: none;
}

.home-imghover:hover {
    opacity: .7;
    background-color: #081b29;
}

/* .home-imghover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 130%;
    height: 100%;
    background-color: #081b29;
    z-index: 100;
} */


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--sec-bg-color);
    padding-bottom: 2rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1.3rem;
    top: 3rem;
}

span {
    color: var(--main-color);
}

.about h2 {
    position: relative;
    margin-bottom: 3%;
}

.about-img {
    position: relative;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--sec-bg-color);
    border-bottom: .2rem solid var(--sec-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpin 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
}

.btn-box.btns {
    position: relative;
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background-color: var(--sec-bg-color);
}

.about #button
{
    border-radius: 1.5rem;
    padding: .90rem;
    font-size: 2rem;
    margin-bottom: 2.3rem;
}


.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education h2 {
    position: relative;
    margin-bottom: 4%;
}

.education .edu-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.edu-row .edu-cols {
    flex: 1 1 40rem;
}

.edu-cols .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.edu-cols .edu-box {
    position: relative;
    border-left: .2rem solid var(--main-color)
}

.edu-box .edu-content {
    position: relative;
    padding-left: 2rem;
}

.edu-box .edu-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%
}

.edu-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 1.4rem;
    overflow: hidden;
}

.edu-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--sec-bg-color);
    z-index: -1;
    transition: .5s;
}

.edu-content .content:hover::before {
    width: 100%;
}

.edu-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.edu-content .content .year i {
    padding-right: .5rem;
}

.edu-content .content h3 {
    font-size: 1.9rem;
}

.edu-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}


.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--sec-bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills h2 {
    position: relative;
    display: inline-block;
    left: 47%;
    margin-bottom: 5%;
    transform: translateX(-50%);
}

.skills-row .skills-cols {
    flex: 1 1 40rem;
}

.skills-cols .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-cols .skill-box {
    position: relative;
}

.skill-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;

}

.skill-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
}

.skill-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}


.skills-cols:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-cols:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-cols:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 69%;
}

.skills-cols:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}


.skills-cols:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 98%;
}

.skills-cols:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 91%;
}

.skills-cols:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 76%;
}

.skills-cols:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 65%;
}


.contact {
    padding: 7rem;
    min-height: auto;
}

.contact h2 {
    transform: translateX(-50%);
    left: 50%;
    display: inline-block;
    margin-bottom: 5%;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    z-index: 1;
}


.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--sec-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;
}

.set {
    margin-top: 2rem;
    padding: 1.4rem;
}

.btne {
    margin-bottom: 7rem;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}


.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--sec-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTOP a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
}

.footer-iconTOP a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--sec-bg-color);
    z-index: -1;
    transition: .5s;

}

.footer-text,
.footer-iconTOP {
    position: relative;
}

.footer-iconTOP a:hover::before {
    width: 100%;
}

.footer-iconTOP a i {
    color: var(--bg-color);
    font-size: 2.4rem;
    transition: .5s;
}

.footer-iconTOP a:hover i {
    color: var(--main-color);
}

.go {
    text-decoration: none;
}

/* Animation Reload and Scroll */
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 98;
}

.animate.home-img {
    width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: hello 1s ease forwards;
    animation-delay: calc(.3s*var(--i));
} 

 .animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s/var(--i));
    animation: none;
} 

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll
{
    background-color: var(--sec-bg-color);
}

.education .edu-box .animate.scroll {
    width: 105%;
}

/* BREAKPOINTS */

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width:768px) {
    .header {
        background-color: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background-color: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imghover {
        pointer-events: none;
        background-color: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width:520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width:462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width:371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

/* Keyframes */
@keyframes homeBgimg {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorimg {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes hello {
    100% {
        width: 0;
    }
} 

